* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(banner-bg.png);
    background-color: #4fb3d4;
    background-size: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 600;
}

.container {
    /* background-color: aqua;
    max-width: 1150px;
    height: 100vh;
    margin: auto;
    background-color: white; */
    
    /* overflow: hidden; */

    max-width: 1150px;
    /* height: 100vh; */
    margin: auto;
    display: flex;
    flex-direction: column;

}


.navbar {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content ul {
    display: flex;
    gap: 35px;
}

.nav-content ul li {
    list-style: none;

    padding: 15px 20px;
}

.nav-content ul li a {

    text-decoration: none;
    color: #183b56;
    font-size: large;
    font-weight: 500;

}

.nav-content ul li a:hover {
    color: #2294ed;



}

.signIn-btn {
    padding: 10px 20px;
    background-color: white;
    border-color: #183b56;
    font-size: large;
    font-weight: 600;

}

.signIn-btn:hover {
    color: #2294ed;
    border-color: #2294ed;
}


.signUp-btn {
    padding: 10px 20px;
    background-color: #2294ed;
    border-color: #2294ed;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 4px;

}

.signUp-btn:hover {
    background-color: #0061ad;
    border-color: #2294ed;
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 24px;
    gap: 30px;


}

.hero-content h1 {
    color: #183b56;
    font-weight: bold;
    font-size: 3.6rem;

}

.hero-content p {
    font-size: 1.5rem;
    text-align: justify;
    color: #577592;
}

.hero-content button {
    display: flex;
    align-self: flex-start;
}


.hero-content-btn {
    padding: 10px 20px;
    background-color: #2294ed;
    border-color: #2294ed;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 4px;
}


.hero-content-btn:hover {
    background-color: #0061ad;
    border-color: #2294ed;
}


.one-line-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-line-container p {
    color: #183b56;
    font-weight: 700;
    font-size: 1.3rem;
}

.one-line-logo-container {
    margin-top: 40px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
        "I1 I1 I2 I3 I4 I4 I4 I4"
        
    ;

    justify-content: space-between;
}

.one-line-logo-container img {
    width: 109px;
    height: 53px;
}


.menu-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;



}

.menu-container {
    background-image: url(menu-background.svg);

    background-repeat: no-repeat;
    background-position: center;

}

.menu-container-header {
    color: 183b56;
    font-size: 1.5rem;
    margin-bottom: 20px;



}

.menu-container-header h2 {

    text-align: center;
    margin-bottom: 15px;


}




.menu-container-header button {

    display: block;
    margin: 0 auto;

    padding: 10px 20px;
    background-color: white;

    font-size: large;
    font-weight: 600;
    border-color: #b9cde4;
    border: 1px solid;



}

.menu-container-header button:hover {
    color: #2294ed;
    border-color: #b9cde4;
    border: 1px solid;

}

.menu-container-content {
    display: grid;
    grid-template-areas:

        "I1 I2 I3"
        "I4 I5 I6"

    ;

    gap: 30px;
    padding: 0px 70px 0 70px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-top: 27px;

}

.menu-card h2 {
    color: #183b56;
    font-size: 1.4rem;


}

.menu-card p {
    color: #577592;
    font-size: 1.1rem;
    letter-spacing: 1px;



}

.menu-card button {
    display: block;
    margin: 0 auto;

    padding: 10px 20px;
    background-color: white;
    border-color: #b9cde4;
    font-size: large;
    font-weight: 600;
    border: 1px solid;
}

.menu-card button:hover {
    color: #2294ed;
    border-color: #2294ed;
}

.fa-arrow-right {
    color: #2294ed;
}

.review-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    gap: 20px;

}

.review-container-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* .review-container-content  p:nth-of-type(2) {
    background: yellow;
 } */


.review-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card h4 {
    font-size: larger;
    color: #183b56;

}

.review-card h2 {
    font-size: xx-large;
    letter-spacing: 0.1px;
}

.review-card p {
    font-size: x-large;
    color: #577592;
    text-align: justify;
}

.review-card span {
    font-size: x-large;
    color: #183b56;
    text-align: justify;
    font-weight: 600;

}




.review-card-profile {
    display: flex;
    gap: 10px;

}

.review-card-profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 3px;

}

.review-card-profile-info h3 {
    letter-spacing: 1px;
    font-weight: 600;
}

.review-card-profile-info h6 {

    font-size: large;
    color: #577592;
}

.menu-container-content-two {
    display: grid;
    grid-template-areas:

        "I1 I2 I3 i4"


    ;

    gap: 30px;
    padding: 0px 70px 0 70px;
}

.menu-card-two {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-top: 27px;


}

.menu-card-two img {
    z-index: -1;
    filter: brightness(50%)
}

.menu-card-two p {
    position: relative;
    top: -20%;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;

    letter-spacing: 1px;
    padding: 0px 10px;



}

.info-section {
    background-color: #183b54;
    height: 75vh;
    display: flex;

}



.info-section-container {
    display: flex;
    max-width: 1150px;
    margin: auto;

}

.info-container-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 97px;
    color: white;


}

.info-container-content h2 {

    font-size: xx-large;



}

.info-container-content p {

    font-size: x-large;
    color: #577592;

}

.info-container-content h4 {
    font-size: x-large;
}

.info-container-content ul {
    display: grid;
    grid-template-areas:

        "I1 I2"
        "I3 I4"
        "I5 I6"

    ;

    position: relative;
    left: 15px;
    color: #577592;
}


.info-container-content button {
    padding: 10px 20px;
    background-color: #2294ed;
    border-color: #2294ed;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    margin-right: auto;
}

.info-container-content:button {
    background-color: #0061ad;
    border-color: #2294ed;
}


.img2 {
    position: relative;
    top: -50%;
    left: 25%;

}

.testing-conatiner {


    justify-content: center;
    height: 40vh;
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testing-container-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.testing-container-content h2 {


    font-size: xx-large;
}

.testing-container-content p {
    color: #b9cde4;
    background-color: white;
    font-size: large;

}

.testing-container-content button {



    padding: 10px 20px;
    background-color: #2294ed;
    border-color: #2294ed;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 4px;



}

.testing-container-content button:hover {
    background-color: #0061ad;
    border-color: #2294ed;
}


.product-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 50vh;
    background-color: #ebf2fa;;
}

.product-container{
    display: flex;
    gap: 100px;
    max-width: 1150px;
    
}

.product-container-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-container-content ul li{
    list-style: none;
   
    font-size: 1.2rem;
    margin-bottom: 10px;
    
}
.product-container-content ul li:hover{
    color: #2294ed;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #b9cde4;
    padding: 10px;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li {
    list-style: none;
    display: flex;
    margin-left: 25px;
}

.footer-menu{
    display: flex;
    margin-right: 80px;
}


.footer-container{
    display: flex;
    justify-content: space-around;
}